@charset "utf-8";

/*공통 CSS - common.css*/

/****************1. 상단영역****************/
.t1 {
    height: 100px;
}

/*메인로고*/
.logo img {
    width: 80px;
    height: 40px;
    margin-top: 40px;
    margin-left: -10px;
}

#top{/*밑줄, 메뉴 보일 때만*/ /*메뉴!!*/
    /*position: relative;
    height: 608px;
    background-color: #000;
    z-index: 9999;*/
}

/*****************상단메뉴*****************/
#gnb{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background-color: rgba(0,52,113,.75);
}
.tmenu {
    position: absolute;
    top: 10px;
    right: 2px;
    font-size: .75em;
    cursor: pointer;
}

.tmenu a {
    color: #fff;
}

.tmenu li:first-child {
    padding: 0 16px 0 0;
}

.tmenu li:nth-child(2) {
    padding: 0 16px;
}

.tmenu li:last-child {
    margin-top: 0px;
    padding: 0 2px 0 16px;
}

.tmenu a:hover {
    text-decoration: underline;
}

#lang {
    width: 150px;
    height: 23px;
    background-color: transparent;
    color: #fff;
    vertical-align: -3px;
    border: 1px solid #fff;
    padding-left: 1px;
    cursor: pointer;
}

#lang:focus {
    outline: none;
}

#lang option {
    background-color: #2A2A2A;
    user-select: none;
    white-space: nowrap;
}

/******************************************/
/******************GNB메뉴******************/
#gnbwrap{
    width: 940px;
    height: 570px;
}
/*메뉴*/
.gnbwrap {
    position: relative;
    outline: 5px dotted red;
    float: left;
    top: 48px;
    left: 82px;
    width: 16.666666666%;
    font-size: 0.938em;
    font-weight: 400;
    letter-spacing: -1px;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
}



.gnbwrap h3{
    width: 136px;
    height: 44px;
    text-align: center;
    text-indent: -9px
}

.gnb_smenu {
    width: 100%;
    height: 474px;
    margin-top: 16px;
}

.gnb_smenu li {
    width: 93%;
    border-bottom: 1px solid #e3e5e4;       
}

.gnb_smenu a{
    display: block;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.gnb_smenu span{/* 밑줄 트랜지션???*/
    transition: all .3s linear;
}

/*hover된 span 밑에 밑줄넣기*/
.gnb_smenu a:hover span::after{
    content: "";
    position: absolute;
    display: block;
    background-color: #918f8f;
    width: 100%;
    height: 1px;
    
/*    animation: lineAni .3s linear;*/
}

@keyframes lineAni{
    from{
        width: 0;
    }
    to{
        width: 50%
    }
}/**********keyframes**********/


.gnb_smenu li a {
    color: #171717;
}

/*검색버튼*/
.sbtn{
    position: absolute;
    top: 61px;
    right: 19px;
    width: 21px;
    height: 21px;
    background: url(../images/icons/is_ico.png) no-repeat;
    border: none;
    cursor: pointer;
    text-indent: 3000px;
    overflow: hidden;
}


/****************5. 하단영역****************/
/*하단영역 첫째줄 파티션 높이*/
/*고객지원리스트*/
#info{
    
/*    background-color: #565e6b;*/
}
.i11 {
    height: 70px;
    padding: 28px 0;
}
.i11 li{
    float: left;
    width: auto;
}
.i11 a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.875em;
    color: #fff;
}
.i11 li+li{
    margin-left: 37px;
}
/*추가 사이트 로고*/
.i12{
    height: 70px;
    padding: 0;
}
.os ul{
    margin-top: 22px;
    margin-left: 73px;
}
.os li:first-child{
    margin-top: 8px;
}
.os li+li{
    margin-left: 32px;
}

/*하단영역 둘째줄 파티션 높이*/
.i2 {
    height: 70px;
    padding: 0;
}
.i2 address{
    padding-top: 27px;
    padding-bottom: 5px;
    font-size: 0.75em;
    font-style: normal;
    color: #fff;
    letter-spacing: -.5px
}
.i2 p{
    font-size: .688em;
    letter-spacing: -1px;
    color: #fff;
}
#fsite{
    position: absolute;
    top: 26px;
    right: 36px;
    width: 240px;
    height: 35px;
    line-height: 34px;
    font-size: .875em;
    padding-left: 10px;
}

/**************상단으로가기 아이콘**************/
.topbtn{
    position: fixed;
    bottom: 311px;
    left: 50%;
    top: auto;
    right: auto;
    margin-left: 716px;
    width: 21px;
    height: 21px;
}
.topbtn a{
    display: block;
    background: url(../images/icons/is_ico.png) no-repeat;
    background-position: -121px 0;
    width: 100%;
    height: 100%;
    background-color: #8e9397;
    border-radius: 50%;
    text-indent: -99px;
    overflow: hidden;
}

.topbtn a span{
    display: block;
    margin: 12 auto;
}
