@charset "utf-8";

/*공통 CSS - common.css*/

/****************1. 상단영역****************/
.t1 {
    height: 100px;
}

/*메인로고*/
.logo img {
    width: 80px;
    height: 40px;
    margin-top: 40px;
    margin-left: -10px;
}

#top{/*밑줄, 메뉴 보일 때만*/ /*메뉴!!*/
    position: relative;
}

#top::before{
    content: "";
    position: absolute;
    top: 100px;
    width: 100%;
    height: 0px;
    background-color: #fff;
    z-index: 999;
}

#top:hover::before{
    border-top: 4px solid red;
    height: 534px;
}


#top:hover .gnb_smenu{
    display: block;    
}

/*****************상단메뉴*****************/
#gnb{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background-color: rgba(0,52,113,.75);
}
.tmenu {
    position: absolute;
    top: 10px;
    right: 2px;
    font-size: .75em;
    cursor: pointer;
}

.tmenu a {
    color: #fff;
}

.tmenu li:first-child {
    padding: 0 16px 0 0;
}

.tmenu li:nth-child(2) {
    padding: 0 16px;
}

.tmenu li:last-child {
    margin-top: 0px;
    padding: 0 2px 0 16px;
}

.tmenu a:hover {
    text-decoration: underline;
}

#lang {
    width: 150px;
    height: 23px;
    background-color: transparent;
    color: #fff;
    vertical-align: -3px;
    border: 1px solid #fff;
    padding-left: 1px;
    cursor: pointer;
}

#lang:focus {
    outline: none;
}

#lang option {
    background-color: #2A2A2A;
    user-select: none;
    white-space: nowrap;
}

/******************************************/
/******************GNB메뉴******************/
#gnbwrap{
    width: 940px;
/*    height: 570px;*/
}
/*메뉴*/
.gnbwrap {
    position: relative;
/*    outline: 5px dotted red;*/
    padding: 10px 10px 0;
    float: left;
    top: 48px;
    left: 82px;
    width: 16.666666666%;
    font-size: 0.938em;
    font-weight: 400;
    letter-spacing: -1px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
}
.gnbwrap h3{
    position: relative;
    width: 136px;
    height: 42px;
    text-align: center;
    text-indent: -9px
}

.gnbwrap h3::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #006ABA;
    transition: width .2s ease-out;
}

.gnbwrap:hover h3::after{
    width: 100%;
    z-index: 99999;
}

.gnb_smenu {
    width: 100%;
    height: 474px;
    margin-top: 16px;
    padding: 0 13px;
    display: none;
    box-sizing: border-box;
}
.gnbwrap:first-child{/*첫번째 .gnb_smenu 보더레프트 삭제필요*/
    border-left: none;
}
.gnb_smenu{
    position: relative;
    border-left: 1px solid #e3e5e4;
}

.gnb_smenu li {
    width: 93%;
    border-bottom: 1px solid #e3e5e4;       
}

.gnb_smenu a{
    position: relative;
    display: inline-block;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

/*hover된 span 밑에 밑줄넣기*/
.gnb_smenu a::after{
    content: "";
    position: absolute;
    display: block;
    background-color: #918f8f;
    width: 0;
    height: 1px;
    transition: width .3s ease-out;
}


.gnb_smenu a:hover::after{
    width: 100%;
}


.gnb_smenu li a {
    color: #171717;
}

/*검색버튼*/
.sbtn{
    position: absolute;
    top: 61px;
    right: 19px;
    width: 21px;
    height: 21px;
    background: url(../images/icons/is_ico.png) no-repeat;
    border: none;
    cursor: pointer;
    text-indent: 3000px;
    overflow: hidden;
    z-index: 9999;
}


/****************5. 하단영역****************/
/*하단영역 첫째줄 파티션 높이*/
/*고객지원리스트*/
#info{
    position: relative;
    background-color: #565e6b;
    padding-bottom: 118px;
}
/*가상요소로 하단 바 만들기*/
#info::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 68px;
    border-top: 1px solid #7e8184;
    border-bottom: 1px solid #7e8184;
    z-index: 1;/*포지션이 없는 요소보다 아래위치*/
}

.i11 {
    height: 70px;
    padding: 28px 0;
}
.i11 li{
    float: left;
    width: auto;
}
.i11 a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.875em;
    color: #fff;
}
.i11 li+li{
    margin-left: 37px;
}
/*추가 사이트 로고*/
.i12{
    height: 70px;
    padding: 0;
}
.os ul{
    margin-top: 22px;
    margin-left: 73px;
}
.os li:first-child{
    margin-top: 8px;
}
.os li+li{
    margin-left: 32px;
}

/*하단영역 둘째줄 파티션 높이*/
.i2 {
    height: 70px;
    padding: 0;
}
.i2 address{
    padding-top: 27px;
    padding-bottom: 5px;
    font-size: 0.75em;
    font-style: normal;
    color: #fff;
    letter-spacing: -.5px
}
.i2 p{
    font-size: .688em;
    letter-spacing: -1px;
    color: #fff;
}
#fsite{
    position: absolute;
    top: 26px;
    right: 36px;
    width: 240px;
    height: 35px;
    line-height: 34px;
    font-size: .875em;
    padding-left: 10px;
}


/********************퀵메뉴********************/
.quick{
    position: fixed;
    top: 264px;
    left: 50%;
    right: auto;
    margin-left: 786px;
    width: 60px;
    height: 430px;
    border-radius: 20px;
/*    outline: 2px dashed red;*/
    z-index: 9999;
}

.quick li{
    width: 100%;
    height: 86px;
}

.quick li a{
    display: block;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: #006aba;
    color: #fff;
    border-top: 1px solid #1a79c1;
    border-bottom: 1px solid #00599c;
    text-align: center;
    box-sizing: border-box;
}

.quick li:first-child a{
    border-radius: 20px 20px 0 0;
}
.quick li:last-child a{
    border-radius: 0 0 20px 20px;
}

.quick li:hover a{
    background-color: #565E6B;
}

.quick li a img{
    display: block;
    margin: 0 auto 3px;
    vertical-align: middle;
}

/**************상단으로가기 아이콘**************/
.topbtn{
    position: fixed;
    bottom: 311px;
    left: 50%;
    top: auto;
    right: auto;
    width: 40px;
    height: 40px;
    margin-left: 716px;
    z-index: 2;
}
.topbtn a{
    display: block;
    height: 100%;
    background-color: #8e9397;
    border-radius: 50%;
    text-indent: -99px;
    overflow: hidden;
}

.topbtn a:hover{
    background-color: #000;
}

.topbtn a span{
    display: block;
    width: 21px;
    height: 21px;
    margin: 12px auto;
    background: url(../images/icons/is_ico.png) no-repeat;
    background-position: -122px 0px;
}
