@charset "utf-8";

/*공통 CSS - common.css*/

/****************1. 상단영역****************/
.t1{
    height: 100px;
}

/****************5. 하단영역****************/
/*하단영역 첫째줄 파티션 높이*/
.i1{
    height: 72px;
}
/*하단영역 둘째줄 파티션 높이*/
.i2{
    height: 71px;
}