@charset "utf-8";
/*1차 포폴 코어 CSS - core.css*/

/*body 기본설정*/
body{
    font-family: 'Noto Sans KR',dotum,'돋움',vernade,arial,sans-serif;
    color: #171717;
    font-weight: 300;
    line-height: 1.5rem;
}

/*부모설정*/
.prt{
    position: relative;
    padding: 0;
}


/*속박스*/
.ibx{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    border: 2px solid #f00;
    box-sizing: border-box;
}

/*IR(Image Replacement) class*/
.bld {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}