@charset "utf-8";
/* 1차포폴 메인 페이지 CSS - main.css */

/* 공통 외부 css */
@import url(grid_bg.css);
@import url(grid_set.css);
@import url(common.css);
@import url(core.css);
@import url(reset.css);

/*메인페이지 전체 디자인보기*/
body {
    /*    background-image: url(../main.png);*/
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1920px 2559px;
}

/*****************2. 배너영역*****************/
/*배너영역 파티션 높이*/
.b1 {
    width: 100%;
    height: 408px;
}

/*배너슬라이드*/
/*ul,li모두 absolute로 겹치게!*/
.slider,
.slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*슬라이드 리스트 공통*/
.slider li {
    opacity: 0;

    /*트랜지션:속시이지*/
    transition: opacity .8s ease-in-out;
}

/*보이는 리스트 class*/
/*on이라는 클래스를 설정한 li 디자인*/
.slider li.on {
    opacity: 1;
    z-index: 1;
    /*현재 보이는 슬라이드가 맨위로 오게함!
    클릭가능!*/
}


/*슬라이드 개별셋팅*/
.slider li:nth-child(1) {
    background: url(../images/mainb/main1.jpg) no-repeat center/cover;
}

.slider li:nth-child(2) {
    background: url(../images/mainb/main2.jpg) no-repeat center/cover;
}

.slider li:nth-child(3) {
    background: url(../images/mainb/main3.jpg) no-repeat center/cover;
}

.slider li:nth-child(4) {
    background: url(../images/mainb/main4.jpg) no-repeat center/cover;
}

/*블릿*/
/*블릿 네비게이션*/
.conbx{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: auto;
    cursor: pointer;
    z-index: 2;
}
.indic{
    display: inline-block;
    left: 50%;
    width: auto;
    height: 15px;
}

.indic li{
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    background-color: #fff;
    border-radius: 50%;
}

.indic span{
    display: none;
}

.indic li.on{
    background-color: #006ABA;
}
/*배너움직임 on/off 상태*/
.act{
    display: inline-block;
    width: auto;
    height: 15px;
    z-index: 2;
}

.act li{
    display: none;
    width: 11px;
    height: 11px;
}
.acton{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/icons/controls.png) no-repeat;
    background-position: -104px -13px;
}

.actoff{ 
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/icons/controls.png) no-repeat;
    background-position: -104px -40px;
}
.act li.onclick{
    display: inline-block;
}

.act li.onclick:hover .actoff{
    background-position: -104px -29px;
}
.act li.onclick:hover .acton{
    background-position: -104px -1px;
}

.act li span{
    display: none;
}

/***********운영시간***********/
.b2 {
    width: 100%;
    height: 58px;
    background-color: #e8e8e8;
    padding: 10px 0;
    box-sizing: border-box;
    z-index: 2;
}

.nttime {
    position: relative;
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.rt {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    background-color: #006aba;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

.rt::after {
    content: "";
    position: absolute;
    right: -8px;
    top: 13px;
    width: 10px;
    height: 10px;
    background: url(../images/icons/tri.png) no-repeat 50% 50%;
}

.news {
    font-size: 14px;
    background-color: #fff;
    overflow: hidden;
}

.ntxt {
    position: relative;
    width: 90%;
    height: 38px;
    overflow: hidden;
}

/*운영시간안내 아이콘*/
.nico {
    position: absolute;
    right: 20px;
    top: 2px;
}

.under {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.play {
    display: inline-block;
    margin-left: 9px;
}

.stop {
    display: inline-block;
    margin-left: 9px;
    margin-top: 6px;
    vertical-align: -2px;
}

/*********************컨텐츠영역*********************/
#cont {
    position: relative;
}

/*****************3-1. 컨텐츠1 영역*****************/
/*컨텐츠 파티션 높이*/
.c11 {
    position: relative;
    height: 448px;
    padding: 0;
}

.c11 li a img {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: transform .4s ease-in-out;
}

.cimg1 {
    position: relative;
    top: 24px;
    width: calc(25% - 18px);
    height: 420px;
    overflow: hidden;
}

.cimg2,
.cimg3,
.cimg4 {
    position: relative;
    top: 24px;
    width: calc(25% - 18px);
    height: 420px;
    margin-left: 24px;
    overflow: hidden;
}

.c11 li a span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.04em;
    z-index: 2;
}

.c11 li a span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.c11 li a:hover img {
    transform: rotate(-5deg) scale(1.15);
}

/*****************3-2. 컨텐츠2 영역*****************/
.c21 {
    height: 174px;
}

#wrap_tag {
    width: 380px;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 45px;
}

#wrap_tag li:first-child {
    background: url(../images/icons/dott.png) no-repeat 100% 50%;
}

#wrap_tag li {
    position: relative;
    font-size: 33px;
    width: 49%;
    text-align: center;
}

#wrap_tag li a {
    color: #3d3d3d;
}

#wrap_tag li.on a {
    color: #006ABA;
}

#wrap_tag li.on::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #006ABA;
    box-sizing: border-box;
}

#cbtn {
    position: relative;
    width: 68%;
    text-align: center;
    margin: 0 auto;
}

.cbtn1 li:first-child,
.cbtn2 li:first-child {
    border-left: 1px solid #d4d4d4;
}

.cbtn1 li {
    position: relative;
    width: 16.5%;
    height: 50px;
    border-top: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    box-sizing: border-box;
    /*    display: none;*/
}

.cbtn1 a,
.cbtn2 a {
    width: 100%;
    height: 100%;
    display: block;
}

.cbtn1 a span,
.cbtn2 a span {
    vertical-align: -10px;
}

.cbtn2 {
    display: none;
    position: relative;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.cbtn2 li {
    position: relative;
    width: 33.3%;
    height: 50px;
    border-top: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    box-sizing: border-box;
}

/**********클릭 된 cbtn li에 효과주기**********/
.cbtn1 li.on,
.cbtn2 li.on {
    background-color: #231f20;
}

.cbtn1 li.on a,
.cbtn2 li.on a {
    color: #fff;
}

.c22 {
    height: 390px;
    padding: 0;
}

.c22 .more {
    top: 10px;
    right: -5px;
}

/**************콘텐츠 - 프로그램 리스트**************/
.ptit {
    font-size: 1.25em;
    margin-top: 8px;
    margin-bottom: 17px;

}


.plist li {
    position: relative;
    background-color: #efefef;
    width: 23.5%;
}

.plist li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: 1;
    display: none;
}

.plist li:hover::before {
    display: block;
}


.plist li:nth-child(2) {
    margin: 0 2%;
}

.plist li:nth-child(3) {
    margin-right: 2%;
}

.plist a {
    display: block;
}

.imgthumb {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.prg {
    position: relative;
    z-index: 2;
    padding-bottom: 18px;
}

.prg h4 {
    margin: 0 20px;
    height: 54px;
    font-size: 1.25em;
}

.date {
    padding-top: 20px;
    margin: 0 20px 8px;
}

.plist li::after {
    content: '';
    display: none;
    position: absolute;
    width: 100%;
    height: 63%;
    top: 0;
    left: 0;
    background-image: url(../images/icons/icon_plus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 74px auto;
    z-index: 2;
}

.plist li:hover::after {
    display: block;
}


.plist li:hover a {
    color: #fff;
}




/*****************4. 게시판 영역*****************/
.r11 {
    width: 687px;
    height: 520px;
    float: left;
}

.r12 {
    width: 687px;
    height: 520px;
    float: right;
}

/*1. 공지사항*/
.notice {
    margin-top: 62px;
}

.notice h3 {
    font-size: 1.25em;
    color: #171717;
    height: 30px;
    margin-bottom: 4px;
}

.more {
    position: absolute;
    top: 61px;
    right: -5px;
    width: 25px;
    height: 25px;
}

.more li {
    background-image: url(../images/icons/is_ico.png);
}

.more li:first-child {
    width: 16px;
    height: 16px;
    background-position: -180px 0px;
}

.more:hover li:first-child {
    background-position: -198px 0px;
}

.blist {
    font-size: 0.875em;
}

.blist li {
    width: 687px;
}

.blist a {
    display: block;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #3d3d3d;
    letter-spacing: -2px;
    line-height: 35px;
}

.bdate {
    display: block;
    float: right;
    font-size: 0.75em;
    color: #bebab9;
    text-align: right;
    line-height: 30px;
}

/*2. 아래 게시판카드*/
.underBrd {
    position: relative;
    width: 687px;
    height: 201px;
    margin-top: 40px;
    /*    outline: 2px dotted red;*/
}

.underBrd li {
    position: relative;
    width: 48.4%;
    height: 90px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.underBrd li:nth-child(odd) {
    margin-right: 3%;
}

.underBrd li:nth-child(2) ~ li {
    margin-top: 3%;
}


.underBrd li a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 80px;
}

.underBrd li a:hover .ico {
    text-decoration: underline;
}

.ico {
    display: inline-block;
    width: 230px;
}

.ico h4 {
    font-size: 1.125em;
    color: #171717;
    line-height: 1.4em;
    margin-bottom: 1px;
    letter-spacing: -2px;
}

.ico p {
    font-size: 0.813em;
    color: #8f8f8f;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ico1 {
    /*오시는길*/
    position: absolute;
    top: 27px;
    left: 28px;
    width: 30px;
    height: 36px;
    background-image: url(../images/icons/is_mainicon_pc.png);
    background-position: 0 0;
    text-indent: -1000em;
}

.ico2 {
    /*대관안내*/
    position: absolute;
    top: 27px;
    left: 31px;
    width: 38px;
    height: 36px;
    background-image: url(../images/icons/is_mainicon_pc.png);
    background-position: -31px 0;
    text-indent: -1000em;
}

.ico3 {
    /*서울시민카드*/
    position: absolute;
    top: 27px;
    left: 25px;
    width: 30px;
    height: 37px;
    background-image: url(../images/icons/is_mainicon_pc.png);
    background-position: -133px 0;
    text-indent: -1000em;
}

.ico4 {
    /*건축물투어*/
    position: absolute;
    top: 27px;
    left: 31px;
    width: 34px;
    height: 36px;
    background-image: url(../images/icons/is_mainicon_pc.png);
    background-position: -98px 0;
    text-indent: -1000em;
}

/*3. 시설안내*/
.guide {
    margin-top: 62px;
}

.guide h3 {
    font-size: 1.25em;
    color: #171717;
    margin-bottom: 17px;
}

.guide .more {
    top: 61px;
    right: -5px;
}

/*3-1. 안내지도*/
.guideImg {
    position: relative;
    max-height: 300px;
}

/*3-2. 안내사항*/
.guideTxt {
    position: absolute;
    bottom: 0;
    padding-top: 14px;
    padding-bottom: 12px;
    width: 687px;
    height: 84px;
    background-color: #003471;
    opacity: .8;
    font-size: 0.75em;
    font-weight: 300;
    vertical-align: top;
    color: #fff;
    box-sizing: border-box;
}

.guideTxt li {
    padding: 0 0 0 28px;
    width: 400px;
    height: 20px;
}

/*4. SNS*/
.sns {
    position: relative;
    margin-top: 23px;
    width: 687px;
    height: 90px;
    background-color: #efefef;
    /*    outline: 1px solid red;*/
}

.sns h3 {
    display: inline-block;
    height: 30px;
    margin: 30px 23px;
    font-size: 1.125em;
    line-height: 1.5;
    letter-spacing: -2px;
}

.sns ul {
    display: inline-block;
    float: right;
    margin: 28px 109px 0px 0px;
}

.sns li + li {
    padding-left: 20px;
}

/*메뉴리스트*/
.r2 {
    height: 201px;
}

.mlist {
    position: relative;
    width: 100%;
    height: 110px;
    border: 1px solid #e0e0e0;
    padding: 22px 45px;
    margin: 13px auto;
    box-sizing: border-box;
}

/*메뉴*/
.mlist li a {
    display: block;
    width: 100%;
    height: 100%;
}

.mlist img {
    width: 60px;
    height: 60px;
    margin-right: 7px;
}

.mlist p {
    display: inline-block;
    vertical-align: 24px;
    font-size: 18px;
    letter-spacing: -2px;
}

/*리스트 세부조정*/
.mlist li:nth-child(2) {
    margin-left: 57px;
}

.mlist li:nth-child(3) {
    margin-left: 81px;
}

.mlist li:nth-child(4) {
    margin-left: 80px;
}

.mlist li:nth-child(5) {
    margin-left: 55px;
}

.mlist li:nth-child(6) {
    margin-left: 48px;
}

.mlist li:nth-child(7) {
    margin-left: 65px;
}
