@charset "utf-8";
/* 1차포폴 메인 페이지 CSS - main.css */

/* 공통 외부 css */
@import url(grid_bg.css);
@import url(grid_set.css);
@import url(common.css);
@import url(core.css);
@import url(reset.css);

/*메인페이지 전체 디자인보기*/
body {
    background-image: url(../main.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1920px 2559px;
}

/*****************2. 배너영역*****************/
/*배너영역 파티션 높이*/
#ban {
    width: 100%;
    height: 405px;
    background: url(../images/mainb/main1.jpg) no-repeat center/100% 100%;
}

.b1 {
    height: 405px;
}

.b2 {
    height: 58px;

}

/*****************3-1. 컨텐츠1 영역*****************/
/*컨텐츠 파티션 높이*/
.c11 {
    position: relative;
    height: 445px;
    padding: 0;
}

.c11 li a img {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: transform .4s ease-in-out;
}

.cimg1 {
    position: relative;
    top: 24px;
    width: calc(25% - 18px);
    height: 420px;
    overflow: hidden;
}

.cimg2,
.cimg3,
.cimg4 {
    position: relative;
    top: 24px;
    width: calc(25% - 18px);
    height: 420px;
    margin-left: 24px;
    overflow: hidden;
}

.c11 li a span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.04em;
    z-index: 2;
}

.c11 li a span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.c11 li a:hover img {
    transform: rotate(-5deg) scale(1.15);
}

/*****************3-2. 컨텐츠2 영역*****************/
.c21 {
    height: 170px;
}

#wrap_tag{
    width: 380px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 45px;
}

.wrap_tag1:first-child{
    background: url(../images/icons/dott.png) no-repeat 100% 50%;
}

.wrap_tag1, .wrap_tag2{
    font-size: 33px;
    width: 49%;
    text-align: center;
    color: #3d3d3d;
}
#cbtn1{
    position: relative;
    width: 100%;
}
.cbtn1{
    position: relative;
    width: 67.5%;
    text-align: center;
    margin: 0 auto;
}
.cbtn1 li:first-child{
    border-left: 1px solid #d4d4d4;
}
.cbtn1 li{
    position: relative;
    width: 16.5%;
    height: 50px;
    border-top: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    box-sizing: border-box;
}

.cbtn1 a{
    display: inline-block;
    vertical-align: -13px;
    height: 100%;
    padding-top: 8px;
    box-sizing: border-box;
}

.cbtn2{
    display: none;
}

.c22 {
    height: 390px;
}

/*****************4. 게시판 영역*****************/
.r1 {
    height: 520px;
}

.r2 {
    height: 199px;
}
